body {
    font-size: 1.25rem;
}

header {
    font-family: 'Cabin', Helvetica, sans-serif;
}

main {
    font-family: 'Courier New', Courier, monospace;
}

.time-label {
    flex-basis: 7em;
    text-align: right;
    margin-right: 1em;
}

.time-label::after {
    position: relative;
    left: 0.75em;
    border-right: 1px dashed;
    content: "";
}

button,
input {
    background-color: transparent;
    border: none !important;
    color: inherit !important;
    border-radius: 0 !important;
    outline: none !important;
}

button:hover,
button:focus,
input:hover,
input:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

input:hover {
    background-color: #ffffffb0;
}

button:hover {
    opacity: 0.5;
}

input:focus {
    background-color: white;
}

input::placeholder {
    color: inherit;
}

input:focus::placeholder,
input:disabled::placeholder {
    color: transparent;
}

input:disabled:hover {
    cursor:not-allowed;
    background-color: transparent;
}

*::selection {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}